body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    border-right: 1px solid #ddd;
}

.sidebar .sidebar-heading {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link:hover {
    color: #007bff;
}

.tienda-promociones {
    display: none;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .btn-group-vertical button {
        width: 100%;
        margin-bottom: 5px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }
}
